<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.nsv.system.mapper.MemberMapper">

    <resultMap id="MemberResponse" type="com.flab.nsv.member.dto.MemberResponseDto">
        <result property="name" column="name"/>
        <result property="birth" column="birth"/>
        <result property="gender" column="gender"/>
        <result property="telephone" column="telephone"/>
        <result property="noShow" column="no_show"/>
        <result property="shotCount" column="shot_count"/>
        <result property="vaccinationDate" column="vaccination_date"/>
        <result property="lastUpdate" column="last_update"/>
        <association property="userResponse" javaType="com.flab.nsv.common.user.dto.UserResponseDto">
            <id column="user_id" property="userId"/>
            <result column="username" property="username"/>
            <result column="password" property="password"/>
            <result column="role" property="role"/>
        </association>
    </resultMap>

    <select id="getById" parameterType="long" resultMap="MemberResponse">
        select u.username, u.password, m.name, m.birth, m.gender, m.telephone, m.no_show, m.shot_count, m.vaccination_date, m.last_update
        from member as m
        left join users as u on m.user_id = u.user_id
        where m.user_id = #{userId}
    </select>

    <update id="updateMemberTelephone" parameterType="map">
        UPDATE member
        SET telephone = #{telephone},
            last_update = now()
        WHERE user_id=#{userId}
    </update>

</mapper>