<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.nsv.system.mapper.MemberMapper">
    <select id="getByUsername" parameterType="String" resultType="Member">
        select id, username, password, name, birth, gender, telephone, noshow, shot, vaccination_date, last_update
        from noshowvaccine.member
        where username = #{username}
    </select>

    <select id="getById" parameterType="long" resultType="Member">
        select id, username, password, name, birth, gender, telephone, noshow, shot, vaccination_date, last_update
        from noshowvaccine.member
        where id = #{id}
    </select>

    <select id="getByUsernameAndPassword" parameterType="map" resultType="Member">
        select id, username, password, name, birth, gender, telephone, noshow, shot, vaccination_date, last_update
        from noshowvaccine.member
        where username = #{username}
        and password = #{password}
    </select>

    <insert id="createMember" useGeneratedKeys="true" keyProperty="id" parameterType="Member">
        insert into noshowvaccine.member (username, password, name, birth, gender,
                          telephone, noshow, shot, vaccination_date, last_update)
        values (#{username}, #{password}, #{name}, #{birth}, #{gender}, #{telephone},
                '0', 0, null, now())
    </insert>

    <update id="updateMember" parameterType="Member">
        UPDATE noshowvaccine.member
        SET password = #{password},
            telephone = #{telephone},
            last_update = now()
        WHERE id=#{id}
    </update>


    <delete id="deleteMemberByUsername" parameterType="String">
        delete
        from noshowvaccine.member
        where username = #{username}
    </delete>
</mapper>